<div class="m-player" (click)="selfClick = true">
    <div class="lock">
        <div class="left"><i></i></div>
    </div>
    <div class="hand"></div>
    <div class="container">
        <div class="wrap">
            <div class="btns">
                <i class="prev" (click)="switchSong(currentIndex - 1, 'onPrev')"></i>
                <i class="toggle" [class.playing]="playing" (click)="onToggle()"></i>
                <i class="next" (click)="switchSong(currentIndex + 1, 'onNext')"></i>
            </div>
            <div class="head">
                <img [src]="playUrl" />
                <i class="mask"></i>
            </div>
            <div class="play">
                <div class="words clearfix">
                    <p class="ellipsis margin-bottom-none">{{currentSong?.name}}</p>
                    <span class="songs ellipsis clearfix margin-bottom-none">
                        <span *ngFor="let singer of currentSong?.ar; last as isLast;">
                            <a>{{singer.name}}</a>
                            <span [hidden]="isLast">&nbsp;/&nbsp;</span>
                        </span>
                    </span>
                </div>
                <div class="bar">
                    <div class="slider-wrap">
                        <app-wy-slider [bufferOffset]="bufferOffsetPercent" [(ngModel)]="sliderValuePercent"
                            (wyOnAfterChange)="onPercentChange($event)"></app-wy-slider>
                    </div>
                    <span class="time">
                        <em>{{currentTime | formatTime}}</em> / {{duration | formatTime}}
                    </span>
                </div>
            </div>

            <div class="oper">
                <i class="like" title="收藏"></i>
                <i class="share" title="分享"></i>
            </div>
            <div class="ctrl">
                <i class="volume" title="音量" (click)="toggleVolPanel($event)"></i>
                <i [ngClass]="currentMode.type" [title]="currentMode.label" (click)="changeMode()"></i>
                <p class="open" (click)="toggleListPanel()">
                    <span></span>
                </p>

                <div class="control-vol" [hidden]="!showVolumePanel">
                    <app-wy-slider [wyVertical]="true" [(ngModel)]="volume" (ngModelChange)="onVolumeChange($event)">
                    </app-wy-slider>
                </div>
            </div>

            <app-wy-player-panel 
                [playing]="playing"
                [songList]="songList" 
                [currentSong]="currentSong" 
                [show]="showPanel" 
                (onChangeSong)="onChangeSong($event)" 
                (onClose)="showPanel = false;">
            </app-wy-player-panel>
        </div>
    </div>



    <audio #audio [src]="currentSong?.url" (canplay)="onCanplay()" (timeupdate)="onTimeUpdate($event)"
        (ended)="onEnded()">
    </audio>
</div>